<!DOCTYPE html>
<title>{% block title %}{% endblock %} | HMSE</title>

<link rel="icon" href="/img/favicon.png">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZZJ662CTVY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZZJ662CTVY');
</script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />

<style>
    .nav-item {
        padding-right: 20px;
    }

    .stonk-search-item:active,
    .stonk-search-item:focus,
    .stonk-search-item:hover {
        background: #007bff;
        color: white!important;
        outline: none;
    }

    .stonk-search-item:active .text-muted,
    .stonk-search-item:focus .text-muted,
    .stonk-search-item:hover .text-muted{
        color: white!important;
    }

    .stonk-search-item:active img,
    .stonk-search-item:focus img,
    .stonk-search-item:hover img {
        filter: contrast(0) brightness(10); 
    }

    body {
        padding-bottom: 70px;
    }

    // footer stuff
    // html {
    //   height: 100%;
    //   box-sizing: border-box;
    // }

    // body {
    //     position: relative;
    //     margin: 0;
    //     padding-bottom: 70px;
    //     min-height: 100%;
    // }
</style>

{% block header %}
{% endblock %}

{% macro notification_bell() %}
    {% if user %}
        <li class="nav-item" style="line-height:2em;">
            <a href="/notifications" class="nav-link">
                <span class="oi oi-bell" title="notifications"></span>
                {% if user.get_unread_notifs() %}
                    <span class="badge badge-pill badge-danger">{{ user.get_unread_notifs() | length }}</span>
                {% endif %}
            </a>
        </li>
    {% endif %}
{%- endmacro %}

{% macro user_icon() %}
    <img src="{{ user.profile_pic_url }}" style="height: 2em; width: 2em; border-radius:100%;object-fit: cover;">
    <strong><span style="color:orange; ">{{ user.username }}</span></strong>
{%- endmacro %}

{% macro deposit_text() %}
    <span class="oi oi-box" style="margin-right: 10px;"></span>Deposit Dramacoin
{%- endmacro %}

{% macro withdraw_text() %}
    <span class="oi oi-dollar" style="margin-right: 10px;"></span>Withdraw Dramacoin
{%- endmacro %}

{% macro settings_text() %}
    <span class="oi oi-cog" style="margin-right: 10px;"></span>Settings
{%- endmacro %}

{% macro logout_text() %}
    <span class="oi oi-account-logout" style="margin-right: 10px;"></span>Logout
{%- endmacro %}

<!--<nav class='navbar navbar-expand-lg navbar-light' style="background-color: #f14a24;">-->
{# navbar 3 from here: https://www.codeply.com/go/qhaBrcWp3v #}
<nav class='navbar navbar-expand-lg navbar-dark bg-dark' style="display:flex;">
    <a class="navbar-brand d-flex w-50 mr-auto" href="/">
        <img style="width:auto; height:2em ; margin-right:15px;" src="/img/favicon.png">
        <span style="line-height:2em;">HMSE</span>
    </a>

    {# this is stuff that only shows up in small devices outside hmaburger #}
    <ul class="nav navbar-nav d-lg-none">
        {{ notification_bell() }}
    </ul>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse w-100" id="mainNavBar">
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            {% if user %}
                <li class="nav-item d-lg-none">{{ user_icon() }}</li>
            {% endif %}

            <li class="nav-item" style="line-height:2em;">
                <strong><a class="nav-link" href="/stonks">All Stonks</a></strong>
            </li>

            <span class="d-none d-lg-inline">
                {{ notification_bell() }}
            </span>

            {% if user %}

                <li class="nav-item dropdown d-none d-lg-inline" style="padding-right:0;">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ user_icon() }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/deposit">{{ deposit_text() }}</a>
                        <a class="dropdown-item" href="/withdraw">{{ withdraw_text() }}</a>
                        <a class="dropdown-item" href="/settings">{{ settings_text() }}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">{{ logout_text() }}</a>
                    </div>
                </li>

                <li class="nav-item d-lg-none">
                    <a class="nav-link" href="/deposit"><strong>{{ deposit_text() }}</strong></a>
                </li>
                <li class="nav-item d-lg-none">
                    <a class="nav-link" href="/withdraw"><strong>{{ withdraw_text() }}</strong></a>
                </li>
                <li class="nav-item d-lg-none">
                    <a class="nav-link" href="/settings"><strong>{{ settings_text() }}</strong></a>
                </li>
                <li class="nav-item d-lg-none">
                    <a class="nav-link" href="/logout"><strong>{{ logout_text() }}</strong></a>
                </li>

            {% else %}
                <li class="nav-item" style="line-height: 2em;">
                    <strong><a class="nav-link" href="/login">Login</a></strong>
                </li>
            {% endif %}
        </ul>

        <form class="form-inline w-100 order-lg-first" id="stonk-search-form"
            style="display: inline-block;">
            <div style="display:inline-block;" class="input-group w-100">
                <input class="form-control" type="search" id="stonk-search"
                    placeholder="Search stonks by ticker... (shortcut /&#8201;)" aria-label="Search stonks by ticker (shortcut /)"
                    data-toggle="dropdown" style="width: 100%; border-radius: 4px;"
                    autocomplete="off">
                <div class="dropdown-menu" aria-labelledby="stonk-search" 
                    id="stonk-search-results" hidden style="width:100%;"></div>
            </div>
        </form>
    </div>

</nav>

{# message to display #}
{#
<h5 class="alert alert-warning" style="border-radius:0; text-align:center;" role="alert">
    <strong>IPO at 4PM EST</strong>: 1000 shares of each stock @ $1
</h5>
#}

{% block content %}{% endblock %}

{#
<footer class="navbar bg-dark navbar-dark"
    style="position: absolute; right:0; bottom:0; left:0;">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="https://rdrama.net/">RDrama</a>
        </li>
    </ul>
</footer>
#}

<script>
    let all_stonks_list = [
        {% for s in all_stonks %}
            {
                id: {{ s.id }},
                ticker: "{{ s.ticker() }}",
                name: {{ s.name | tojson }},
            },
        {% endfor %}
    ];

    const VAPID_PUBLIC_KEY = {{ VAPID_PUBLIC_KEY | tojson }};
</script>

<script src="/js/base.js"></script>

<script>
    {% if user %}
        set_up_notifications();
    {% else %}
        remove_notifications();
    {% endif %}
</script>
