{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
    <h3 class="text-muted" style="margin-top: 40px;">Dashboard</h3>
    <hr>
    <div class="row" style="margin-top: 30px;">
        <div class="col-9">
            <h1 class="display-3">Equity: ${{ user.equity() | format_money }}</h1>
        </div>
        <div class="col-3">
            <h2 style="text-align:right;">Cash: ${{ user.balance | format_money }}</h2>
        </div>
    </div>
</div>
{% endblock %}
