{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
    <h1 class="display-4">Invest in Drama at the HMSE</h1>
    <p class="lead">Login with your rdrama account and get started trading right away.</p>
    <img src="img/marseycoin.webp" style="margin: 0 auto; display: block;">
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="login" role="button">Signup / Login</a>
    </div>
</div>
{% endblock %}
