{% extends "base.html" %}

{% block title %}{{ stonk.ticker() }}{% endblock %}

{% block header %}
    <style>
        a.disabled, a.disabled:visited, a.disabled:active, a.disabled:hover {
          /* Make the disabled links grayish*/
          color: gray !important;
          /* And disable the pointer events */
          pointer-events: none;
        }
   </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row no-gutters" style="margin-top: 25px;">
        <div class="col-3 col-md-2" style="padding-top: 30px;">
            <img style="width:100%; height:auto; padding-top: 15px; padding-right: 10px;" src="/img/stonk-icons/icon_{{ stonk.id }}">
        </div>
        <div class="col-9 col-md-5" style="padding-top: 30px;">
            <h1 class="display-3"><strong>{{ stonk.ticker() }}</strong></h1>
            <h2 class="text-muted" style="margin-left: 8px;">{{ stonk.name }}</h2>
        </div>
        <div class="col-md-5 text-left text-md-right ml-5 ml-md-0" style="padding-top: 30px;">
            <h2 class="display-3">${{ stonk.latest_price | format_money }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mt-md-5 mt-4 order-md-last">
            <div style="text-align: center;">
                <a href="/stonks/{{ stonk.ticker() }}/orderbook" class="lead text-info">View Orderbook</a>
            </div>
            <hr>
            <div class="d-none d-md-block" style="margin-top: -5px; font-size: 16pt; white-space: pre-wrap;">{{ stonk.description }}</div>
        </div>
        <div class="col-md-9 mt-md-5">
            <a class="btn btn-primary btn-lg" style="width:100%;"
                {% if user %}href="/trade?id={{ stonk.id }}">Trade {{ stonk.ticker() }}
                {% else %}href="/trade?id={{ stonk.id }}">Login to Trade {{ stonk.ticker() }}
                {% endif %}
            </a>
            {% if user %}
                {% set cur_pos = user.get_position(stonk.id) %}
                {% if cur_pos %}
                    <h2 style="padding-top: 30px;">Current Position:</h2> 
                    <div class="card" style="margin-top: 20px;">
                        <div class="card-body">
                            <span class="lead">{{ cur_pos.quantity }} shares</span>
                            <span class="lead" style="float:right;">
                                Value:
                                ${{ (cur_pos.quantity*stonk.latest_price) | format_money }}
                            </span>
                        </div>
                    </div>
                {% endif %}
                
                {% set open_orders = user.open_orders(stonk.id) %}
                {% if open_orders %}
                    <h2 style="padding-top: 30px;">Open Orders:</h2> 
                    {% for order in open_orders %}
                        <div class="card" style="margin-top: 20px;">
                            <div class="card-header">
                                <h4 style="margin-bottom:0; display:inline-block;">
                                    {{ "Buy" if order.type==ORDER_BUY else "Sell" }}
                                </h4>
                                <a onclick="cancel_order({{ order.id }}, this)" href="#" class="text-danger" style="float: right;">
                                    Cancel Order
                                </a>
                            </div>
                            <div class="card-body">
                                <span class="lead">${{ order.price | format_money }}</span>
                                <span style="float: right; text-align:right; margin-top: -.2em;">
                                    <span class="lead">{{ order.quantity }} shares</span>
                                    {% if order.original_quantity!=order.quantity %}
                                        <small class="text-muted" style="display:block;">
                                            (out of {{ order.original_quantity }} originally)
                                        </small>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                {% set match_history = user.match_history(stonk.id) %}
                {% if match_history %}
                    <h2 style="padding-top: 30px;" data-toggle="collapse" data-target=".history-collapse">History:
                        <span style="vertical-align:middle; float:right; transition: none;" class="collapse history-collapse show text-muted oi oi-chevron-right"></span>
                        <span style="vertical-align:middle; float:right; transition: none;" class="collapse history-collapse text-muted oi oi-chevron-bottom"></span>
                    </h2> 
                    <div class="collapse history-collapse">
                        {% for match in match_history %}
                            <div class="card" style="margin-top: 20px;">
                                <div class="card-header">
                                    <h4 style="margin-bottom:0; display:inline-block;">
                                        {{ "Bought" if match.buy else "Sold" }}
                                    </h4>
                                    <span style="float:right;">
                                        {{ match.happened_time | format_datetime }}
                                    </span>
                                </div>
                                <div class="card-body">
                                    <span class="lead">
                                        {{ match.quantity }} share{{ 's' if match.quantity!=1 else ''}}
                                        @ ${{ match.price | format_money }}
                                    </span>
                                    <span style="float: right;" class="lead">
                                        Total: ${{ (match.quantity*match.price) | format_money }}
                                    </span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {#
                {% if (not open_orders) and (not match_history) %}
                    <h1 style="text-align:center; margin-top:150px;">No Open Positions</h1>
                {% endif %}
                #}
            {% endif %}
            <div class="d-md-none">
                <hr style="margin-top: 50px;">
                <div style="margin-top: -5px; font-size: 16pt; white-space: pre-wrap;">{{ stonk.description }}</div>
            </div>
        </div>
    </div>
</div>

<script>
    function cancel_order(id, e) {
        e.classList.add("disabled");

        $.ajax({
            url: "/cancel_order?id="+id,
            type: 'POST',
            dataType: "json",
            success: function(result) {
                alert("successfully cancelled order");
                document.location.reload();
            },
            error: (function(e, result) {
                e.classList.remove("disabled");
                try {
                    alert("Error: " + result.responseJSON.error);
                } catch (e) {
                    alert("Error: " + result.status + " " + result.statusText);
                }
            }).bind(null, e)
        });

        return false;
    }
</script>
{% endblock %}
