{% extends "base.html" %}

{% block title %}Trade {{ stonk.ticker() }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="margin-top: 50px;">
        <h2 class="col-8">
            <span id="trade-verb">Buy</span> {{ stonk.ticker() }}
            <span class="text-muted" style="white-space: nowrap;">(<img style="height:1em; width:auto; padding:0;margin:0;" src="/img/stonk-icons/icon_{{ stonk.id }}">
            <span style="position: relative; top: 3px;">{{ stonk.name }}</span>)</span>
        </h2>
        <div class="col-4">
            <a style="float:right; margin-right: 20px;" class="btn btn-secondary" href="/stonks/{{ stonk.ticker() }}">
                Back to listing
            </a>
        </div>
    </div>
    <hr>

    <!--<div class="col-3" style="padding-top: 30px; text-align:right;">
        <h2>${{ stonk.latest_price | format_money }}</h2>
    </div>-->
    <form method="post">
        <button class="btn btn-lg" type="button" id="buy-btn" style="width:100px; margin-right:20px;">Buy</button>
        <button class="btn btn-lg" type="button" id="sell-btn" style="width:100px;">Sell</button>
        <input type="hidden" name="buy_sell" id="buy_sell">

        <div class="form-group" style="margin-top: 30px;">
            <label for="quantity" class="lead">Quantity:</label>
            <input type="number" class="form-control form-control-lg" id="quantity" placeholder="Quantity of stonks to trade" name="quantity" required min="1">
        </div>

        <div class="form-group" style="margin-top: 30px;">
            <label for="price" class="lead">Order Price:</label>
            <input type="number" class="form-control form-control-lg" id="price" placeholder="Price of limit order (ex: 12.34)" name="price" required min="0.01" step="0.01">
        </div>

        <button type="submit" class="btn btn-primary btn-lg" style="margin-top: 30px;">Place Order</button>

    </form>
</div>

<script>
    $("#buy-btn").click(()=>{
        $("#buy-btn").removeClass("btn-outline-info").addClass("btn-info");
        $("#sell-btn").addClass("btn-outline-info").removeClass("btn-info");
        $("#buy_sell").val("buy");
        $("#trade-verb").text("Buy");
    });

    $("#sell-btn").click(()=>{
        $("#sell-btn").removeClass("btn-outline-info").addClass("btn-info");
        $("#buy-btn").addClass("btn-outline-info").removeClass("btn-info");
        $("#buy_sell").val("sell");
        $("#trade-verb").text("Sell");
    });

    $("#buy-btn").click();
</script>

{% endblock %}
